<h1 class="text-center mt-4">Enter a new Individual</h1>

<div class="container">
<%= form_with(model: @individual, class: "shadow p-3 mb-3 bg-light rounded", local: true ) do |f| %>
  <div class="form-group row">
  <p>
    <%= f.label :Name , class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a new individual"  %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :Bio, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= f.text_area :bio, rows: 10, class: "form-control shadow rounded", placeholder: "Enter Individual's Biography"  %>
    </div>
  </div>

            <div class="form-group row">
            <%= f.submit class: "btn btn-outline-light btn-primary" %>
            </div>
  

<% end %>
</div>

</div>
</div>