
         <% @daily_logs.each do |log| %>
           
        by <%= log.user.username if log.user %>
             
  Shift: <%= link_to log.shift, daily_log_path(log) %></td>
                     
    <%= truncate(log.notes, length: 100) %>
                     </p>
                     
    <%= link_to "View",  daily_log_path(log), class: "btn btn-primary" %>
    <% if logged_in? && (log.user == current_user || current_user.admin?) %>
   
     <%= link_to "Edit", edit_daily_log_path(log), class: "btn btn-info" %>
   
    <%= link_to "Delete", daily_log_path(log), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
                     <% end %>
                   
                   
                     <div class="card-footer text-muted">
                       created date
                     </div>
             
          <% end %> 
   