<% if @daily_log.errors.any? %>
  <h2> The following errors prevented the daily log from being saved</h2>
  <ul>
    <% @daily_log.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_with(model: @daily_log, local: true ) do |f| %>

  <p>
    <%= f.label :shift %><br/>
    <%= f.text_field :shift %>
  </p>

  <p>
    <%= f.label :notes %><br/>
    <%= f.text_area :notes %>
  </p>

  <p>
  <%= f.submit %>
  </p>
  <% end %>