<h1> create a new log </h1>

<%= form_with scope: :daily_log, url: daily_logs_path, local: true do |f| %>

  <p>
  <%= f.label :shift %><br/>
  <%= f.text_field :shift %>
  </p>

  <p>
  <%= f.label :notes %><br/>
  <%= f.text_area :notes %>
  </p>

  <p>
  <%= f.submit %>
  </p>
  <% end %>