<h2<%= @daily_log.shift %></h2>


by <%= @daily_log.user.username if @daily_log.user %>
          
          
<%= render @daily_log.individual %>
       
       
<%= simple_format(@daily_log.notes) %>
<% if logged_in? && (@daily_log.user == current_user || current_user.admin?) %>

<%= link_to "Edit", edit_daily_log_path(@daily_log), class: "btn btn-outline-info" %>

<%= link_to "Delete", daily_log_path(@daily_log), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>

          <% end %>
        
      
      