<h1>Daily Log</h1>

<p><strong>Shift: </strong><%= @daily_log.shift %></p>
<p><strong>Notes: </strong><%= @daily_log.notes %></p>


<%= link_to 'Edit', edit_daily_log_path(@daily_log) %> |
<%= link_to 'Delete', daily_log_path(@daily_log), method: :delete, data: { confirm: "Are you sure?"} %> |
<%= link_to 'Return to Daily Logs', daily_logs_path %>
