<h1> Fill out Vitals Log for: </h1> 
<p><%= @individual_vitals_log.individual.name %></p>

<%= form_for(@individual_vitals_log) do |f| %>
  </br>
  <div>
    <%= f.label :temperature %>
    <%= f.text_field :temperature %>
  </div>
  <br>
  <div>
    <%= f.label :bloodpressure %>
    <%= f.text_field :bloodpressure %>
  </div>
  <br>
  <div>
    <%= f.label :pulse %>
    <%= f.text_field :pulse %>
  </div>
  <br>
<%= f.hidden_field :individual_id %>
<%= f.submit %>

<% end  %>