<h1 class="text-center mt-4"> Fill out Vitals Log for: </h1> 
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10 mt-4">
      <div class="card text-center  mb-4 bg-white rounded">
          <div class="card-header">
                <%= @individual_vitals_log.individual.name %>
          </div>   
        <%= form_for(@individual_vitals_log, class: "shadow p-3 mb-3 bg-light rounded") do |f| %>

          <div class="card-body">
      
            <div class="form-group row">
              <%= f.label :temperature, class: "col-4 col-form-label text-dark" %>
                <div class="col-4">  
                  <%= f.text_field :temperature %>
                </div>
            </div>  
          
        
            <div class="form-group row">
              <%= f.label :bloodpressure, class: "col-4 col-form-label text-dark" %>
                <div class="col-4">
                  <%= f.text_field :bloodpressure %>
                </div>
            </div> 
       
          
            <div class="form-group row">
              <%= f.label :pulse, class: "col-4 col-form-label text-dark" %>
                <div class="col-4">
                  <%= f.text_field :pulse %>
                </div>
            </div>
            
        </div>
              
            <%= f.hidden_field :individual_id %>

          <div class="form-group row justify-content-center">
                  <%= f.submit "Enter Vitals", class: "btn btn-outline-success btn-lg" %>
          </div>
          <% end  %>
      </div>
        <div class="row justify-content-md-center">
              <div class="mb-3">
              <%= link_to '[  Individuals ]', individuals_path, class: "text-primary" %>
              </div>
      </div>      
    </div>
  </div>
</div>